@model Search

<h3>Search Movies:</h3>

<form asp-controller="Home" asp-action="SearchResults">
    <p>
        Search: <input type="text" name="searchQuery" />
        <input type="submit" />
    </p>
</form>
