@model Search

<div class="text-center">
    <h3 class="display-4">Welcome to our Movie App!</h3>
</div>

<form asp-controller="Home" asp-action="SearchResults">
    <p>
        Search: <input type="text" name="searchQuery"/>
        <input type="submit"/>
    </p>
</form>
